:root {
  /* CSSにも色を定義しているがtwindでも使えるようにしているので実は不要 */
  --kn-black: #2f3437;
  --kn-white: #f9fff9;
  --kn-d-purple: #624464;
  --kn-d-blue: #4b8996;
  --kn-d-brown: #8a8772;
  --kn-l-purple: #ac78b0;
  --kn-l-blue: #71d0e3;
  --kn-l-brown: #d6d2b2;
  --kn-s-1: #33769c;
  --kn-s-2: #339c76;
  --kn-s-3: #e2534a;
  --kn-a-yellow: #d7bd57;
  --kn-a-light-blue: #d8e4ee;
  --kn-a-green: #7e9e7f;
  --heder-height: 40px;
  --footer-height: 120px;
  --main-padding-top: 20px;
  --main-max-width: 900px;
}
@font-face {
  font-display: swap;
  font-weight: 400;
  font-style: normal;
  font-family: "Kiwi Maru";
  src: url("../fonts/KiwiMaru-Medium.ttf") format("truetype");
}
body {
  scroll-behavior: smooth;
  background-color: var(--kn-white);
  background-size: 5%;
  /* background-image: url("../img/bg/random-shapes.svg"); */
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 80 80'%3E%3Cg fill='%237e9e7f' fill-opacity='0.25'%3E%3Cpath fill-rule='evenodd' d='M11 0l5 20H6l5-20zm42 31a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM0 72h40v4H0v-4zm0-8h31v4H0v-4zm20-16h20v4H20v-4zM0 56h40v4H0v-4zm63-25a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM53 41a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-30 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-28-8a5 5 0 0 0-10 0h10zm10 0a5 5 0 0 1-10 0h10zM56 5a5 5 0 0 0-10 0h10zm10 0a5 5 0 0 1-10 0h10zm-3 46a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM21 0l5 20H16l5-20zm43 64v-4h-4v4h-4v4h4v4h4v-4h4v-4h-4zM36 13h4v4h-4v-4zm4 4h4v4h-4v-4zm-4 4h4v4h-4v-4zm8-8h4v4h-4v-4z'/%3E%3C/g%3E%3C/svg%3E");
  color: var(--kn-black);
  font-family: "Kiwi Maru";
  counter-reset: number;
}
/* 利用規約などの番号用 */
.counter-wrapper .desc-card {
  counter-increment: number;
}
.counter-wrapper .desc-card > h2:before {
  content: "第" counter(number) "条 ";
}
main {
  max-width: var(--main-max-width);
  padding: 1rem;
  margin: auto;
}
header {
  height: var(--heder-height);
  background-color: var(--kn-a-green);
  color: var(--kn-a-light-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
footer {
  min-height: var(--footer-height);
  background-color: var(--kn-l-brown);
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}
main {
  max-width: var(--main-max-width);
  margin: 0 auto;
  min-height: calc(100vh - var(--heder-height) - var(--footer-height));
  padding-top: var(--main-padding-top);
}
.basis-height {
  height: calc(
    100vh - var(--main-padding-top) - var(--heder-height) - var(--footer-height)
  );
}

/* Chart.js用 */
.chartWrapper svg g {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 700px !important;
  height: 700px !important;
}
/* 背景色を消し飛ばす */
.chartWrapper svg g[fill="white"] {
  fill: rgba(0, 0, 0, 0) !important;
}
@media screen and (max-width: 640px) {
  /* スマホの時 */
  .chartWrapper svg {
    width: 90vw;
    height: 90vw;
  }
  .chartWrapper svg g {
    width: 90vw !important;
    height: 90vw !important;
  }
  .graphSection {
    /* 現代技術(fresh版chart.jsのsvg描画仕様)では満足なレスポンス対応ができないため、スマホでは諦める */
    /* 一応見れなくもないレベルまでは治したけど、中途半端にデザイン崩すので見せないほうがマシという判断 */
    display: none;
  }
}

/* グラフのコンテナを上書き */
.chart-container {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
